@import "tailwindcss";

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #020617;
    touch-action: none;
    user-select: none;
    height: 100%;
    width: 100%;
}

#root {
    width: 100vw;
    height: 100vh;
}

/* Custom scrollbar para a tela inicial */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
